#  ANOVA

In statistics, **Analysis of Variance (ANOVA)** is also used to analyze the differences among group means. The difference between t-test and ANOVA is the former is ued to compare two groups whereas the latter is used to compare three or more groups. [Read more about the difference between t-test and ANOVA](http://b.link/anova24).

From the ANOVA test, you receive two numbers. The first number is called the **F-value** which indicates whether your null-hypothesis can be rejected. The critical F-value that rejects the null-hypothesis varies according to the number of total subjects and the number of subject groups in your experiment. In [this table](http://b.link/eda14) you can find the critical values of the F distribution. **If you are confused by the massive F-distribution table, don't worry. Skip F-value for now and study it at a later time. In this challenge you only need to look at the p-value.**

The p-value is another number yielded by ANOVA which already takes the number of total subjects and the number of experiment groups into consideration. **Typically if your p-value is less than 0.05, you can declare the null-hypothesis is rejected.**

In this challenge, we want to understand whether there are significant differences among various types of pokemons' `Total` value, i.e. Grass vs Poison vs Fire vs Dragon... There are many types of pokemons which makes it a perfect use case for ANOVA.

In [1]:
# Import libraries
import pandas as pd
import numpy as np
import scipy.stats as st
import matplotlib.pyplot as plt
import seaborn as sns

In [26]:
# Load the data:
poke = pd.read_csv('pokemon.txt', sep=',')

In [3]:
poke.head()

,#,Name,Type 1,Type 2,Total,HP,Attack,Defense,Sp. Atk,Sp. Def,Speed,Generation,Legendary
0,1,Bulbasaur,Grass,Poison,318,45,49,49,65,65,45,1,False
1,2,Ivysaur,Grass,Poison,405,60,62,63,80,80,60,1,False
2,3,Venusaur,Grass,Poison,525,80,82,83,100,100,80,1,False
3,3,VenusaurMega Venusaur,Grass,Poison,625,80,100,123,122,120,80,1,False
4,4,Charmander,Fire,NaN,309,39,52,43,60,50,65,1,False

**To achieve our goal, we use three steps:**

1. **Extract the unique values of the pokemon types.**

1. **Select dataframes for each unique pokemon type.**

1. **Conduct ANOVA analysis across the pokemon types.**

#### First let's obtain the unique values of the pokemon types. These values should be extracted from Type 1 and Type 2 aggregated. Assign the unique values to a variable called `unique_types`.

*Hint: the correct number of unique types is 19 including `NaN`. You can disregard `NaN` in next step.*

In [25]:
# Your code here
#poke['Type 2'] = poke['Type 2'].fillna('')
#poke['agg_type'] = poke['Type 1'] + poke['Type 2']
#poke['agg_type'].nunique()

In [27]:
unique_types = list(poke[['Type 1','Type 2']].stack().drop_duplicates().reset_index(drop=True))
unique_types

['Grass',
 'Poison',
 'Fire',
 'Flying',
 'Dragon',
 'Water',
 'Bug',
 'Normal',
 'Electric',
 'Ground',
 'Fairy',
 'Fighting',
 'Psychic',
 'Rock',
 'Steel',
 'Ice',
 'Ghost',
 'Dark']

#### Second we will create a list named `pokemon_totals` to contain the `Total` values of each unique type of pokemons.

Why we use a list instead of a dictionary to store the pokemon `Total`? It's because ANOVA only tells us whether there is a significant difference of the group means but does not tell which group(s) are significantly different. Therefore, we don't need know which `Total` belongs to which pokemon type.

*Hints:*

* Loop through `unique_types` and append the selected type's `Total` to `pokemon_groups`. Be sure to loop through BOTH `Type 1` and `Type 2` to cover all occurrances of each unique type.
* Skip the `NaN` value in `unique_types`. `NaN` is a `float` variable which you can find out by using `type()`. The valid pokemon type values are all of the `str` type.
* At the end, the length of your `pokemon_totals` should be 18.

In [33]:
df = pd.DataFrame(columns=['Type', 'Total'])

In [37]:
# Your code here
type_list = []  # to store the types
value_list = []  # to store the associated values

for utypes in unique_types:
    values_from_type1 = list(poke[poke['Type 1'] == utypes]['Total'])
    values_from_type2 = list(poke[poke['Type 2'] == utypes]['Total'])
    
    # Append the type and its values to the lists
    type_list.extend([utypes] * len(values_from_type1))
    value_list.extend(values_from_type1)
    
    type_list.extend([utypes] * len(values_from_type2))
    value_list.extend(values_from_type2)

# Create the DataFrame
df = pd.DataFrame({
    'Type': type_list,
    'Total': value_list
})

df

       Type  Total
0     Grass    318
1     Grass    405
2     Grass    525
3     Grass    625
4     Grass    320
...     ...    ...
1209   Dark    351
1210   Dark    519
1211   Dark    530
1212   Dark    495
1213   Dark    680

[1214 rows x 2 columns]

In [42]:
# Split the data into groups based on the different types
groups = [df['Total'][df['Type'] == t] for t in df['Type'].unique()]

#### Now we run ANOVA test on `pokemon_totals`.

*Hints:*

* To conduct ANOVA, you can use `scipy.stats.f_oneway()`. Here's the [reference](http://b.link/scipy44).

* What if `f_oneway` throws an error because it does not accept `pokemon_totals` as a list? The trick is to add a `*` in front of `pokemon_totals`, e.g. `stats.f_oneway(*pokemon_groups)`. This trick breaks the list and supplies each list item as a parameter for `f_oneway`.

In [44]:
# Your code here
st.f_oneway(*groups)

F_onewayResult(statistic=6.617538296005533, pvalue=2.6457458815984803e-15)

#### Interpret the ANOVA test result. Is the difference significant?

In [6]:
# Your comment here

The p_value is very small which means there is a statistically signifficant difference between at least 2 columns.